.DS_Store

/vendor/
/composer.lock

/testing/laravel/vendor/
/testing/laravel/node_modules/
/testing/laravel/.env
/testing/laravel/.phpunit.result.cache
/testing/laravel/database/*.sqlite
/testing/laravel/storage/framework/cache/*
/testing/laravel/storage/framework/sessions/*
/testing/laravel/storage/framework/testing/*
/testing/laravel/storage/framework/views/*
/testing/laravel/storage/logs/*
/testing/laravel/storage/api-docs/
/testing/laravel/storage/wordvel/

/testing/wordpress/*
!/testing/wordpress/install-local.php
!/testing/wordpress/ensure-proof-pages.php
!/testing/wordpress/activate-headless-theme.php
!/testing/wordpress/enable-pretty-permalinks.php
!/testing/wordpress/router.php
!/testing/wordpress/wp-content/
/testing/wordpress/wp-content/*
!/testing/wordpress/wp-content/plugins/
/testing/wordpress/wp-content/plugins/*
!/testing/wordpress/wp-content/plugins/wordvel-proof/
!/testing/wordpress/wp-content/plugins/wordvel-proof/**
!/testing/wordpress/wp-content/themes/
/testing/wordpress/wp-content/themes/*
!/testing/wordpress/wp-content/themes/wordvel-headless/
!/testing/wordpress/wp-content/themes/wordvel-headless/**
